*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
    color: white;
    /* border: 5px solid red; */
    min-height: 100vh; 
    padding: 1em;
    overflow-y: hidden;
}

@font-face {
    font-family: spacegrotesk-variablefont_wght_1;
    src: url("/fonts/spacegrotesk-variablefont_wght_1.TTF");
}
@font-face {
    font-family: spacegrotesk-variablefont_wght_2;
    src: url("/fonts/spacegrotesk-variablefont_wght_2.ttf");
}
@font-face {
    font-family: spacegrotesk-variablefont_wght;
    src: url("/fonts/spacegrotesk-variablefont_wght.ttf");
}
@font-face {
    font-family: spacegrotesk-medium;
    src: url("/fonts/spacegrotesk-medium.ttf");
}
@font-face {
    font-family: spacegrotesk-semibold;
    src: url("/fonts/spacegrotesk-semibold.ttf");
}

#contact{
    background-color: orange;
}
#home{
    background-image: url("/img/mobileHome.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    /* background-position: center center; */
}
#about{
    background-color: #B24018;
}
#foodMenu{
    background-color: #B05E3B;
}
#menu{
    background-color: #C95D32;
    font-family: spacegrotesk-variablefont_wght;
    text-decoration: underline;
    font-size: 14px;
}
#haizea{
    background-color: #B3CFD0;
}

/* HOME */
.titulo {
    font-family: spacegrotesk-variablefont_wght;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: white;
}
a:link {
    text-decoration:none;
    color: white;
}

main {
    height: calc(100vh - 100%);
    min-height: calc(100vh - 135px);
}
/****** navBar *****/
.desktopBar {
    display: none;
    height: 35px;
}

.desktop {
    display:none;
}

.navbar {
    position: relative;
    height: 50px;
    padding-top: 10px;
}

.logoImg {
    width: 30px;
}

.hambImg {
    width: 20px;
    margin-bottom: 0px;
}

.rotateImg {
    width: 30px;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.closeImg {
    width: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.logo {
    position: absolute;
    left: calc(50% - 15px);
}

.hamburger {
    position: absolute;
    right:0%;
}

.rotate {
    display: flex;
    justify-content: center;
}

.close{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* *************************** */


.menu{
    list-style: none;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align: center;
    min-height: 90%;
    padding-top: 20px;
    padding-bottom: 20px;

}

/* posiciono en el centro de la pagina */
.centeredContainer {
    font-family: spacegrotesk-variablefont_wght_2;
    font-size: 12px;
    position:fixed;
    top: 50%;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/****** footer *****/
/* me muestra las redes en contacto con .desktop en vez de .redes */
.redes {
    visibility: hidden;
}

footer {
    font-family: spacegrotesk-variablefont_wght;
    font-size: 12px;
    position:fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    /* margin-top: 50px; */
    padding-top: 20px;
    color: white;
    height: 50px;
}



/****** scroll poesia Kun*****/

/* Establecer posición inicial del texto y crear animacion*/
#scrollText {
    position: absolute;
    bottom: 130px; /*altura de comienzo*/
    padding: 10px;
    padding-bottom: 0px;
    animation: miAnimacion 25s cubic-bezier(0.71, 0.21, 1, 1.02) infinite;
    font-family: spacegrotesk-variablefont_wght_1;
    font-size: 12px;
}

.scrollContainer {
    padding-bottom: 15px;
    position: relative;
	/* width: 100%; */
    height: calc(100vh - 100%);
    min-height: calc(100vh - 135px);
    max-width: 50%;
	overflow: scroll;
    overflow:hidden;
    margin: 0 auto;
}

/* Crear animación */
@keyframes miAnimacion {
    from {
        transform: translateY(90%);
    }
    to {
        transform: translateY(-70%);
    }
}


/* *** desktop layout  *** */
@media only screen and (min-width:480px) {

    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }


    #home{
        background-image: url("/img/desktopHome.png");
        background-repeat: no-repeat; 
        background-size: cover; 
    }
    
    .desktopBar {
        display:flex;
        justify-content: center;
    }

    .bottomfooter{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .desktopBar ul {
        flex-direction: row;
        justify-content: space-around;
    }

    header ul li {
        font-family: spacegrotesk-variablefont_wght;
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .barmenu{
        margin-bottom: 20px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    
}




