*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: spacegrotesk-variablefont_wght;
    font-size: 12px;
    color: white;
    display: flex;
    height: 100%;
    min-height: 100vh; 
    /* overflow-y: hidden; */
}

/**** layout ****/
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}

main {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0;
    right: 0;
}

footer {
    font-family: spacegrotesk-variablefont_wght;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

.desktop {
    display:none;
}

.redes {
    visibility: hidden;
}


/**** fonts ****/
@font-face {
    font-family: spacegrotesk-variablefont_wght_1;
    src: url("/fonts/spacegrotesk-variablefont_wght_1.TTF");
}
@font-face {
    font-family: spacegrotesk-variablefont_wght_2;
    src: url("/fonts/spacegrotesk-variablefont_wght_2.ttf");
}
@font-face {
    font-family: spacegrotesk-variablefont_wght;
    src: url("/fonts/spacegrotesk-variablefont_wght.ttf");
}
@font-face {
    font-family: spacegrotesk-medium;
    src: url("/fonts/spacegrotesk-medium.ttf");
}
@font-face {
    font-family: spacegrotesk-semibold;
    src: url("/fonts/spacegrotesk-semibold.ttf");
}

/**** backgrounds ****/
#contact{
    background-color: orange;
}

#home{
    background-image: url("/img/mobileHome.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    /* background-position: center center;  */
}

#about{
    background-color: #B24018;
}

#foodMenu{
    background-color: #B05E3B;
}

#menu{
    background-color: #C95D32;
    font-family: spacegrotesk-variablefont_wght;
    text-decoration: underline;
    font-size: 14px;
}

#haizea{
    background-color: #B3CFD0;
}

/**** home ****/

a {
    color: white;
}
a:link {
    text-decoration:none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 30px;
    padding-top: 25px;

}

.hamburger {
    position: fixed;
    top:10px;
    right: 20px;
    width: 20px;
    margin-bottom: 0px;
}

.logoname {
    font-family: spacegrotesk-variablefont_wght;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.desktopBar {
    display: none;
    height: 35px;
}

.rotateImg {
    width: 30px;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.rotate {
    display: flex;
    justify-content: center;
}

/**** menu ****/

.close{
    width: 30px;
    position: fixed;
    top:10px;
    right: 20px;
}

.menu{
    list-style: none;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align: center;
    min-height: 90%;
    padding-top: 20px;
    padding-bottom: 20px;

}

/**** aCercaDe y contacto ****/
.mainSubContainer {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/****** scroll poesia *****/

#scrollText {
    position: absolute;
    bottom: 0px; /*altura de comienzo con respecto a scrollcontainer*/
    padding: 10px;
    padding-bottom: 0px;
    animation: miAnimacion 5s cubic-bezier(0.71, 0.21, 1, 1.02) infinite;
    font-family: spacegrotesk-variablefont_wght_1;
    font-size: 12px;
}

.scrollContainer {
    position: absolute;
    top: 120px;
    bottom: 120px;
    left: 0;
    right: 0;
    max-width: 60%;
    text-align: center;
	overflow: scroll;
    overflow:hidden;
    margin: 0 auto;
    
}

/* Crear animación */
@keyframes miAnimacion {
    from {
        transform: translateY(90%);
    }
    to {
        transform: translateY(-70%);
    }
}


/**** desktop layout  ****/
@media only screen and (min-width:480px) {

    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }

    #home{
        background-image: url("/img/desktopHome.png");
        background-repeat: no-repeat; 
        background-size: cover; 
    }

    .desktopBar {
        display:flex;
        justify-content: center;
    }

    .desktopBar ul {
        flex-direction: row;
        justify-content: space-around;
    }

    header ul li {
        font-family: spacegrotesk-variablefont_wght;
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .barmenu{
        margin-bottom: 20px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .bottomfooter{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    
}




