*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/**** fonts ****/
@font-face {
    font-family: SpaceGrotesk-Light;
    src: url("../fonts/SpaceGrotesk-Light.ttf");
}
@font-face {
    font-family: SpaceGrotesk-Medium;
    src: url("../fonts/SpaceGrotesk-Medium.ttf");
}
@font-face {
    font-family: SpaceGrotesk-Regular;
    src: url("../fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
    font-family: SpaceGrotesk-SemiBold;
    src: url("../fonts/SpaceGrotesk-SemiBold.ttf");
}
@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url("../fonts/SpaceGrotesk-Bold.TTF");
}


body{
    font-family: SpaceGrotesk-Regular;
    font-size: 14px;
    color: #DAD5CF;
    display: block;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}

header {
    width: 100%;
    height: 100px;
}

main {
     padding: 14px 28px 50px 28px;
     height: calc(100vh - 260px); 
}

footer {
    height: 100px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    position: fixed;
}

header.noShow {
    display: none;
}

.desktop {
    display:none;
}

.redes {
    visibility: hidden;
}

/**** backgrounds ****/
#home{
    background-color: black;
}

#contact{
    background-color: #B24018;
}

#about{
    background-color: #B24018;
}

#foodMenu{
    background-color: #B05E3B;
}

#menu{
    background-color: #C95D32;
    text-decoration: underline;
}

#haizea{
    background-color: #B3CFD0;
}

/**** home ****/

a {
    color: #DAD5CF;
}

a:hover {
    color: #eeeeee;
    transition: color 1s;
}

a:link {
    z-index: 99;
    position: relative;
    text-decoration:none;
    color: #DAD5CF;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 140px;
    padding-top: 7px;

}

.hamburger {
    position: fixed;
    top:15px;
    right: 25px;
    width: 20px;
    margin-bottom: 0px;
}

.logoname {
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.desktopBar {
    display: none;
    height: 35px;
}

/**** menu ****/
.sliderMenu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

.sliderMenu.active {
    left: 0;
}

img#cierre {
    width: 25px;
    position: relative;
    top: 14px;
    right: -89vw;
    z-index: 40;
    cursor: pointer;
}


.close{
    width: 25px;
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 40;
}

.menu{
    height: 100%;
    list-style: none;
    text-decoration: underline;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align: center;
}

#mainMenu{
    margin-top: 30px;
    height: 100%;
}

/**** contacto ****/
.mainSubContainer {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}

.fullscreen iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.fullscreen.show {
    display: inherit;
}

/* Animación de textos tipo cine */
@keyframes moveText {
    from { top: 100%; }
    to { top: -250%; }
}

/****** scroll text *****/
#textMenu {
    position: absolute;
    bottom: -100%;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    animation-name: moveText;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 12px;
    webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#textMenu.paused {
    animation-play-state: paused;
    transition: none !important;
    /* detiene cualquier transición de animación */
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
}

#textMenu.dragging {
  transition: none;
}


.moveTextAbout {
    animation-duration: 60s;
}
.moveTextHome {
    animation-duration: 60s;
}
.moveTextMenu {
    animation-duration: 60s;
}

.scrollContainer {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    height: 100%; 
}


.ContainerBakVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ContainerBakVideo video{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: -1
};

/* formato de la barra de scroll */
.scrollContainer::-webkit-scrollbar {
  width: 2px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: #eaeaea; 
  border-radius: 0.8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: rgb(187, 187, 187);
}


/*********************************** desktop layout  ***********************************************/

@media only screen and (min-width:480px) {

    /****** scroll text *****/
    .moveTextAbout {
        animation-duration: 40s;
    }
    .moveTextHome {
        animation-duration: 40s;
    }
    .moveTextMenu {
        animation-duration: 40s;
    }
    @keyframes moveText {
        from { top: 100%; }
        to { top: -280%; }
    }
    
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }

    main {
        padding: 28px;
    }


    .desktopBar {
        display:flex;
        justify-content: center;
    }

    .desktopBar ul {
        flex-direction: row;
        justify-content: space-around;
    }

    header ul li {
        margin-left: 10px;
        margin-right: 10px;
    }

    .barmenu{
        margin-bottom: 20px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .bottomfooter{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding: 5px;
    }


    .scrollContainer {
        margin: 25px auto;
        height: 100%;
    }
    
}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
    /* Estilos para dispositivos móviles en orientación horizontal */
    main {
        padding: 10px;
        height: calc(100vh - 190px);
    }
  }



  @media only screen and (max-width: 480px) and (max-height: 800px) {
    body {
      height: calc(100vh - 64px); /* Resta la altura de la barra de navegación en algunos dispositivos Samsung */
    }
  }

  @media only screen and (max-width: 375px) {
    body {
      height: calc(100vh - 83px); /* Resta la altura de la barra de navegación en iPhone X y modelos posteriores */
    }
    @keyframes moveText {
        from { top: 100%; }
        to { top: -280%; }
    }
  }
  
  
  @media only screen and (max-width: 375px) and (max-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    body {
      height: calc(100vh - 83px); /* Resta la altura de la barra de navegación en iPhone X y modelos posteriores */
    }
  }
  
  @media only screen and (max-width: 414px) and (max-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    body {
      height: calc(100vh - 64px); /* Resta la altura de la barra de navegación en iPhone 6 Plus, 7 Plus y 8 Plus */
    }
  }
  
  @media only screen and (max-width: 768px) and (max-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    body {
      height: calc(100vh - 50px); /* Resta la altura de la barra de navegación en iPads en orientación vertical */
    }
  }
  
  @media only screen and (min-width: 1024px) and (max-height: 768px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    body {
      height: calc(100vh - 44px); /* Resta la altura de la barra de navegación en iPads en orientación horizontal */
    }
  }



